.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #ffff;
    box-shadow: 0 3px 11px 0 rgb (0 0 0 / 15%);
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    }

.header_logo {
    display: flex;
    flex-direction: row;

    h2 {
        margin: 0 0 0 10px;
        font-size: 20px;

        &:hover {
            color: var(--second-color);
            cursor: pointer;
            transition: 0.3s all ease;
        }
    }

    @media (min-width: 768px) {
        span {
            font-size: 25px;
        }

        h2 {
            font-size: 25px;
        }
    }
}

.nav_sign_out {
    cursor: pointer;

    &:hover {
        color: var(--second-color);
        cursor: pointer;
        transition: 0.3s all ease;
    }
}

.counter {
    position: relative;

    b {
        position: absolute;
        top: -11px;
        right: -14px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        color: #fff;
        font-size: 9px;
        background: #997878;
        border-radius: 50px;
    }
}